.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s_container {
  padding: 10px;
  width: 400px;
  margin: auto;
  background-color: #b4b4b4;
  margin-top: 20px;
}

.sp_container {
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
  text-align: left;
  margin: auto;
  margin-bottom: 5px;
  background-color: white;
}

.sp_price {
  display: flex;
  justify-content: space-between;
}
.h_container {
  padding: 20px;
  background-color: #282c34;
  color: white;
  font-weight: bold;
}

.h_container button {
  padding: 0 20px 0 20px;
  border-radius: 10px;
  font-size: 20px;
}

button {
  cursor: pointer;
}
.pending {
  display: none;
}
.sending {
  background-color: rgb(173, 173, 255);
  color: rgb(2, 2, 59);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.success {
  background-color: rgb(153, 253, 166);
  color: rgb(2, 46, 12);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.error {
  background-color: rgb(255, 176, 173);
  color: rgb(85, 11, 6);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
